/* Styles */
/*#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}*/

/*a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}*/

.logo {
  height: 2em;
  width: auto;
}

#logo-container{
  padding-left: 1em;
  padding-top: .5em
}

#nav-button-container{
  height: 3.75em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
